<launch>  

<!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ker_control)/config/ker_control.yaml" command="load"/>

  <node name="ker_hardware_interface" pkg="ker_hardware_interface" type="ker_hardware_interface" output="screen" />

  <!-- spawn state controller -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="ker/joint_state_controller" />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="ker/ker_leg_controller"/>

</launch>
